// Define variables for your color scheme

// For example:
$red: #f65d5a;
$dark-red: #D13041;
// old red colour
// $red: #f65d5a;
$blue: #4ec6cb;
$yellow: #f5ece6;
$orange: #fb7e5c;
$light-orange: #fb7e5c;
$green: #f9975a;
$pink: #f16c76;
$gray: #0E0000;
$light-gray: #ededed;
$dark-gray: #373741;
