// Define variables for your color scheme

// For example:
$red: #f65d5a;
$blue: #4ec6cb;
$yellow: #fbe2ca;
$orange: #fb7e5c;
$light-orange: #fb955c;
$green: #92d0c1;
$gray: #0E0000;
$light-gray: #ededed;
$dark-gray: #373741;
