.dashboard-container {
  padding: 15px;
  margin: auto;
  height: 100%;
  margin-bottom: 60px;
}


.host-section {
  a {
    color: #5b6175;
  }
  img {
    border: 2px solid $green;
  }
}

.participants-section {
  a {
    color: #5b6175;
  }
}

.card-dashboard {
  margin-bottom: 20px;
}
