.dashboard-container {
  padding: 60px 15px 20px 15px;
  margin: auto;
  height: 100%;
  margin-bottom: 60px;
  h2 {
    margin-bottom: 25px;
    color: #5b6175;
  }
  a:hover {
    color: $dark-gray;
  }
}

.host-section {
  a {
    color: #5b6175;
  }
  img {
    border: 2px solid $green;
  }
  .participants {
  margin-left: -5px;
   p, a {
    color: $dark-gray;
    }
  }
}

.participants-section {
  a {
    color: #5b6175;
  }
  .fa-users {
    margin-left: 15px;
  }
}

.card-dashboard {
  margin-bottom: 25px;
  padding-bottom: 10px;
  background-color: #f5ece6;
  border-radius: 10px;
  h3 {
    margin-top: 10px;
    color: #5b6175;
  }
  a {
    color: $red;
  }
   p {
    a {
    color: $dark-gray;
    }
  }
  .btn-outline {
    margin-top: 8px;
    background-color: white;
    color: #5b6175;
    display: block;
    // margin-left: 12px;
    // margin: auto;
  }
  small {
    color: $dark-gray;
  }
}

.img-container {
  width: 100%;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
  }

}
  .text-block {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 15px;
  background-color: $red;
  color: white;
  padding: 5px 20px 0px 20px;
  }

.avatars-dashboard {
  img {
  margin-top: 5px;
  }
  margin-left: 14px;
}

.info-dashboard {
  margin-left: 14px;
}

.review-container {
  display: flex;
  align-items: center;
  p {
    padding-right: 10px;
  }
  // align-items: flex-end;
  // position: relative;
  // margin: 0px 14px 0px 14px;
}

.review-button {
  margin: 0px 14px 0px 14px;
  // position: absolute;
}

