// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "show";
@import "dashboard";
@import "random";

.container-index {
  width: 100%;
  // height: 100%;
  padding: 15px;
  margin: auto;
  // background: url(https://res.cloudinary.com/dvpcxhofq/image/upload/v1583948509/background3_sce0r6.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.content-index {
// display: grid;
// grid-template-columns: repeat(2, 1fr);
// grid-column-gap: 10px;
// grid-row-gap: 15px;
// padding: 5px;
padding-top: 15px;
}

.index-h1 {
  font-size: 24px;
  margin-bottom: 5px;

}


#idx-padding {
  padding: 10px;
  align-items: flex-start;
}

.index-cards {
  background-color: #f5ece6;
  border-radius: 6px;
  margin: 0px 10px 20px 10px;
  position: relative;

  img {
     height: 200px;
  }

}

.card-info-index {
  a {
    color: $red;
  }

  p {
    font-size: 16px;
    margin-top: 8px;
  }

  #index-km {
    font-size: 16px;
    color: $dark-gray;

}
h2.demo {
    font-size: 16px;
    position: absolute;
    right: 5%;
    bottom: 12%;
    color: $red;
  }

}

#idx_date {
  // padding-top: 20px;
  font-size: 16px;
}

.demo {
  font-weight: bold;
}

.form-idx {
  padding: 10px;

  .btn-orange {
    width: 140px;
    background: #fb7e5c;
    &:hover {
      background: #f65d5a;
  }
  }

  #friend_places {
    margin-bottom: 5px;
  }
  #activity {
    margin-bottom: 5px;
  }
  #category {
    color: #ced4da;
    border: 1px solid #ced4da;
    background-color: white;
    height: 35px;
    border-radius: 10px;
  }
  border-bottom: 1px solid $light-gray;
}

 button.btn-index.btn.btn-outline {
   position: unset;
   color: $orange;
 }

