.profile-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin: auto;
  margin-bottom: 60px;
  i {
    margin-right: 5px;
  }
}

.profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin: 20px;
    color: $red;
  }
  border-bottom: 1px solid $light-gray;
}

.profile-content {
  padding: 25px 0px 10px 20px;
}

.reviews {
  padding-top:20px;
  padding-left: 15px;
  border-top: 1px solid $light-gray;

  h4 {
    font-size: 20px;
  }
  .review-user {
    font-style: italic;
    font-size: 14px;
  }
}

.edit {
  padding: 0px 30px 15px;
  margin: auto;
  .btn-outline {
    width: 100%;
  }
}

.event-rating {
  margin-top: 25px;
}

.single-activity {
  padding-top:20px;
  padding-left: 15px;
  border-top: 1px solid $light-gray;
  .event-rating {
    display: flex;
    justify-content: space-between;

  }
}
small {
  color: $orange;
}
