.main-container {
  height: 100%;
  width: 100%;
  margin: auto;
  h1 {
    color: $red;
  }
}

.show-image {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.show-container {
  padding: 15px;
  margin: auto;
}

.host-info {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  a {
    margin-left: 10px;
  }
}

.bottom-container {
  margin-bottom: 60px;
}


