
.main-container {
  height: 100%;
  width: 100%;
  margin: auto;
  h1 {
    color: $red;
  }
}
.category {
  background-color: #FB955C;
}

.show-image {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.show-container {
  padding: 15px;
  margin: auto;
}

.host-info {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  a {
    margin-left: 10px;
  }

//   h2 {
//     position: absolute;
//     right: 5%;
//     bottom: 2%;
//   }
}

.bottom-container {
  margin-bottom: 40px;
  margin-top: 20px;
  display:flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.content {
  margin: 0px 15px 15px;
}

.title-btn {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
  align-items: center;
}

p {
  margin-bottom: 0px !important;
}

.title {
  font-size: 16px;
  font-weight: bold;
  }

.fa-chevron-left {
  font-weight: bold;
}
