
.main-container {
  height: 100%;
  width: 100%;
  margin: auto;
  h1 {
    color: $red;
  }
}

.show-image {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
.show-container {
  padding: 15px;
  margin: auto;
}

.host-info {
  display: flex;
  align-items: center;
  img {
    margin-right: 10px;
  }
  a {
    margin-left: 10px;
  }

  h2 {
    position: absolute;
    right: 5%;
    bottom: 2%;
  }
}

.bottom-container {
  margin-bottom: 60px;
}

.content {
  margin: 0px 15px 15px;
}

.title-btn {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

p {
  margin-bottom: 0px !important;
}

.btn-outline {
  position: absolute;
  top: 2%;
  left: 3%;
  color: white;
}

