

  <h1>Confirm Attendance to <%= @activity.name %> </h1>
  <div class="form">
    <%= simple_form_for([@activity, @booking]) do |f| %>
      <%#= f.input :user_id, label: 'user id' %>
      <%#= f.input :activity_id, label: 'activity id' %>
      <br>
      <%= f.button :submit, class:"btn btn-ghost btn-lg btn-block" %>
    <% end %>
  </div>



