<div class="container-home">
  <%#= cl_image_tag("gettogether_o19azj", width: 400, height: 300, crop: :fill) %>

  <div class="headers">
    <h1>Get Together </h1>
    <h6>Find something to do NOW</h6>
    <p> and meet new friends</p>
  </div>

  <%= simple_form_for :search, url: activities_path, method: "get" do |f| %>
    <div class="search-bar">
    <input class="search-address" type="text" name="address" id="friend_places" placeholder="Search address" />
    <%= f.input :current_location, as: :hidden, input_html: { value: "" }, id: "user-location" %>
    <%= button_tag(type: "submit", class: "btn btn-orange") do %>
    <i class="fas fa-search-location"></i>
    <% end %>
  </div>
  <% end %>
</div>
