<div class="container-home">
  <%#= cl_image_tag("gettogether_o19azj", width: 400, height: 300, crop: :fill) %>

  <div class="headers">
  <h1>Get Together </h1>
  <p>Find new people to join you!</p>
  </div>


  <%= simple_form_for :search, url: activities_path, method: "get" do |f| %>
    <div class="search-bar">
    <input class="search-address" type="text" name="address" id="friend_places" placeholder="Search within 5km" />
    <%= f.submit "Search", class: "btn btn-green" %>
  <% end %>
  </div>

</div>
