.alert {
  position: fixed;
  bottom: 60px;
  right: 16px;
  z-index: 1000;

  border: 2px solid #FFC65A;
  // padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  // box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.swal-overlay {
  background-color: rgba(91, 97, 117, 0.45);
}
