
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border-color: white 1px solid;
  }

  .avartar-set {
  display: flex;
  flex-direction: column-reverse;
  width: 60px;
  padding: 5px;
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border-color: white 1px solid;
  }
  .avartar-name {
    text-align: center;
  }
}
 .participants {
  width: 600px;
  display: flex;
  justify-content: flex-start;

 }


.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-border {
  border-radius: 50%;
}
