
.btn {
  color: white;
  padding: 8px 20px;
  border-radius: 28px;
  -webkit-transition: all .2s ease-in-out;
  padding-left: 28px;
  padding-right: 28px;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  &:hover {
    color: white;
  }
}

.btn-green {
  background: $green;
  // margin-right: 5px;
  &:hover {
    background: #f47d31;
  }
}

.btn-orange {
  background: #fb7e5c;
  &:hover {
    background: #f65d5a;
  }
}

.btn-red {
  background: #f65d5a;
  &:hover {
    background: $dark-red;
  }
}

.btn-outline {
  background-color: transparent;
  border: 1.3px solid #ced4da;
  color: black;
}
