// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "map";
@import "button";
@import "form";
@import "card";
@import "messenger";

.content-index {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 15px;
padding: 5px;
padding-top: 15px;
}

.index-h1 {
  font-size: 1rem;
  margin-bottom: 2px;
}

#img_index {
  height: 110px;
}

#idx-padding {
  padding: 10px;
  align-items: flex-start;
}

.index-cards {
  height: 200px;
  background-color: #f5ece6;
  border-radius: 6px;
}

.card-info-index {
  font-size: 0.8rem;
  a {
    color: $red;
  }
}

#idx_date {
  // padding-top: 20px;
  font-size: 12px;
}

.form-idx {
  padding: 15px;
  .btn-orange {
    height: 35px;
  }
  #friend_places {
    margin-bottom: 5px;
  }
  #activity {
    margin-bottom: 5px;
  }
  #category {
    color: #ced4da;
    border: 1px solid #ced4da;
    background-color: white;
    height: 35px;
    border-radius: 10px;
  }
  border-bottom: 1px solid $light-gray;
}

