.messages-container {
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 5px;
  border-top: none;
  border-bottom-width: 0;
  overflow: scroll;
  height: 75vh;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: $light-orange;
    }
  }
}


.chat-message-content {
  background-color: #ededed;
  border-radius: 10px;
  margin: 0 10px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
  &.right {
    background-color: $light-orange;
    p {
    color: white;
  }
  }
}

.chat-message-time p {
  font-size: 10px;
}

.chat-header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;
  display:flex;
  align-items: center;

  .avatar {
    height: 50px;
    width: 50px;
  }

  a {
    color: $dark-gray;
    text-decoration: none;
  }

  h3 {
    margin: 0px;
  }

  .element {
    margin: 5px;
  }
}

.btn-orange-chat {
  color: white;
  overflow:hidden;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  margin-left: 2px;
  background: $green;
  &:hover {
    background: #61a594;
  }
  i {
    padding: none;
    font-size: 20px;
  }
}

.new-message {
  position: absolute;
  bottom: 25px;
}

.new-message form {
  display: flex;
  justify-content: space-between;
}

.new-message form .text-field{
  width: 100%;
}


.new-message textarea.form-control {
  height: 50px;
  width: 80vw;

}
