.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: $red;
  border-bottom-right-radius: 10px;
  border-color: #dee2e6 #dee2e6 #ededed;
}

i.fas.fa-search {
  font-size: 23px;
}

i.far.fa-calendar-alt {
 font-size: 23px;
}

i.far.fa-plus-square {
  font-size: 23px;
}

i.far.fa-user-circle {
  font-size: 23px;
}

i.far.fa-comment {
  font-size: 23px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 0.5px solid $light-gray;
  z-index: 1000;
  height: 60px;
}

.mr-auto {
  justify-content: space-between;
}

.navbar-nav {
  justify-content: space-between;
}

.nav-item {
  font-size: 18px;
  color: gray;
  &:hover {
    color: #fb7e5c;
  }
  .active {
    color: $orange;
  }
}

.nav-link {
  color: gray;
  &:hover {
    color: #fb7e5c;
  }
  .active {
    color: $orange;
  }
}

a:hover {
 color: $orange;
 text-decoration: none;
}

#myTab.nav-tabs {
  background-color: white;
  // overflow: hidden;
  // position: fixed;
  // top: 0;
  // width: 100%;
}

.fa-search {
  color: gray;
  &:hover {
    color: #fb7e5c;
  }
   .active {
    color: $orange;
  }
}
