<div class="container">
<h3> Edit you review of <%= @booking.activity.name %>: </h3>

  <%= simple_form_for([@booking, @review]) do |f| %>
    <%= f.input :activity_rating, label: 'Please rate the activity on a scale from 1(ðŸ‘Ž)-5(ðŸ‘)', :collection => [1,2,3,4,5] %>
    <%= f.input :content, label: 'Please share some more details about your expirience âœï¸' %>
  <% end %>
</div>
